<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Deal Investors</h1>
  <%= link_to "New Deal Investor", new_deal_investor_path(deal_id: @deal.id), {class: "btn btn-primary"} if @deal %>
</div>

<div class="table-responsive">

  <table id="deal_investors" class="table table-bordered dataTable">
    <tr>
      <th>
        Deal
      </th>
      <th>
        Investor
      </th>
      <th>
        Primary Amount
      </th>
      <th>
        Secondary Investment
      </th>
      <th class="">
        Entity
      </th>
    </tr>

    <% deal_investors.each do |deal_investor| %>
      <%= render deal_investor %>
    <% end %>
  </table>

  </div>