
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Investments</h1>
  <%= link_to "New Investment", new_investment_path("investment[investee_entity_id]": current_user.entity_id), 
      {class: "btn btn-primary"} if current_user.entity_id == entity.id %>
</div>

<div class="table-responsive">

  <table id="investments" class="table table-bordered dataTable ">

    <tr>
      <th>
        Investment Type
      </th>
      <th>
        Investor Company      
      </th>
      <th>
        Investee Company
      </th>

      <% if !params[:prospective] %>
        <th>
          Investment Instrument
        </th>
        <th>
          Quantity
        </th>
        <th>
          Initial Value
        </th>
      <% end %>
      <th>
      </th>
    </tr>

    <% investments.each do |investment| %>
      <%= render investment %>
    <% end %>
  </table>

</div>