<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Notes</h1>
  <% if params[:investor_id].present? %>
    <%= link_to "New Note", new_note_path(investor_id: params[:investor_id]), {class: "btn btn-primary"}  %>
  <% end %>
</div>

<table id="notes" class="table table-bordered dataTable">

  <tr>
    <th>
      User
    </th>
    <th>
      Investor
    </th>
    <th>
      Details
    </th>
    <th>
      On
    </th>
    <th>
    </th>
  </tr>

  <% notes.each do |note| %>
    <%= render note %>
  <% end %>
</table>

