<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <% header = defined?(title) ? title : "Notes" %>
  <h1 class="h3 mb-0 text-gray-800"><%= header %></h1>
  <% if params[:investor_id].present? %>
    <%= link_to "New Note", new_note_path("note[investor_id]": params[:investor_id], "note[entity_id]": current_user.entity_id), 
        {class: "btn btn-primary"}  %>
  <% end %>
</div>

<div class="table-responsive">

  <table id="notes" class="table table-bordered table-striped dataTable ">
    <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          On
        </th>
        <th>
          Investor
        </th>
        <th class="">
          Details
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% notes.each do |note| %>
        <%= render note %>
      <% end %>
    </tbody>
    
  </table>

</div>

