<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Investor accesses</h1>
</div>

<table id="investor_accesses_table" class="table table-bordered dataTable">
  <tr>
    <th>
      <strong>Investor</strong>
    </th>
    <th>
      <strong>Email</strong>
    </th>
    <th>
      <strong>Access Type</strong>
    </th>
    <th>
    <th>
  </tr>

  <% investor_accesses.each do |investor_access| %>
    <%= render investor_access %>
  <% end %>
</table>

