<h1>Editing investor access</h1>

<%= render "form", investor_access: @investor_access %>

<br>

<div>
  <%= link_to "Show this investor access", @investor_access %> |
  <%= link_to "Back to investor accesses", investor_accesses_path %>
</div>
