<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Holdings</h1>
    <span>
        <!-- We have to show the employee investors screen from which we can add holdings -->
        <% investor=current_user.entity.investors.where(is_holdings_entity: true).first %>
            <%= link_to "New Holding" , investor_path(investor, tab: "investors-tab" ), {class: "btn btn-primary" } if
                investor %>
    </span>
</div>

<div class="table-responsive" data-controller="datatable">

    <table id="holdings" class="table table-bordered dataTable jqDataTable">

        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Email
                </th>
                <th>
                    Entity
                </th>
                <th>
                    Instrument
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Value
                </th>

                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <% holdings.each do |holding| %>
                <%= render "/holdings/holding", holding: holding, secondary_sale: secondary_sale %>
            <% end %>
        </tbody>
    </table>

</div>