
<tr id="<%= dom_id deal_doc %>">
<td>
    <%= link_to deal_doc.name, deal_doc %>
</td>
<td>
    <%= deal_doc.tags.join(", ") %>
</td>   
<td>
    <%= link_to deal_doc.deal_name, deal_doc.deal %>
</td>  
</tr>
