<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= title.blank? ? "Deal Docs" : title %></h1>
  <%= link_to "Upload Document", new_deal_doc_path("deal_doc[deal_id]": deal_investor.deal_id, "deal_doc[deal_investor_id]": deal_investor.id), 
    class: "btn btn-primary" if deal_investor %>
</div>

<table id="deal_docs" class="table table-bordered dataTable ">
  <tr>
    <th>
      <strong>Name</strong>
    </th>
    <th>
      <strong>Deal</strong>
    </th>
  </tr>
  <% deal_docs.each do |deal_doc| %>
    <%= render deal_doc %>
  <% end %>
</table>

