<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Deal Docs</h1>
</div>

<table id="deal_docs" class="table table-bordered dataTable">
  <tr>
    <th>
      <strong>Name</strong>
    </th>
    <th>
      <strong>Deal</strong>
    </th>
    <th>
      <strong>Deal Investor</strong>
    </th>
    <th>
      <strong>Deal Activity</strong>
    </th>
    <th>
      <strong>User</strong>
    </th>

    <th>
    <th>
  </tr>
  <% @deal_docs.each do |deal_doc| %>
    <%= render deal_doc %>
  <% end %>
</table>

