<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Deal Docs</h1>
  <%= link_to "New Deal Doc", new_deal_doc_path, {class: "btn btn-primary"}  %>
</div>

<table id="deal_docs" class="table table-bordered dataTable">
  <% @deal_docs.each do |deal_doc| %>
    <%= render deal_doc %>
  <% end %>
</table>

