<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Visible To</h1>
</div>

<table id="doc_visibilities" class="table table-bordered dataTable">
  <tr>
    <th>
      Document
    </th>
    <th>
      Visiblity Type
    </th>
    <th>
      To
    </th>
  </tr>
  <% doc_visibilities.each do |doc_visibility| %>
    <%= render doc_visibility %>
  <% end %>
</table>

