<h1>Editing doc visibility</h1>

<%= render "form", doc_visibility: @doc_visibility %>

<br>

<div>
  <%= link_to "Show this doc visibility", @doc_visibility %> |
  <%= link_to "Back to doc visibilities", doc_visibilities_path %>
</div>
