<h1>Editing Document Access</h1>

<%= render "form", doc_access: @doc_access %>

<br>

<div>
  <%= link_to "Show this Document Access", @doc_access %> |
  <%= link_to "Back to doc visibilities", doc_accesses_path %>
</div>
