<%= form_with(model: entity) do |form| %>
  
  <%= render "form_fields", entity: entity, form: form %>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"} %>
  </div>
<% end %>
