<%= render "/holdings/employee_calc" %>

<div data-controller="datatable">

    <div class="associated_entity">
        <%= render "/holdings/esop_summary", holdings: current_user.holdings.options %>
    </div>
    <div class="associated_entity">
        <%= render "/excercises/index", excercises: current_user.excercises %>
    </div>
</div>
