<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Excercises</h1>
  <%= link_to "New Excercise", new_excercise_path, {class: "btn btn-primary"}  %>
</div>

<div class="table-responsive" data-controller="datatable">

  <table id="excercises" class="table table-bordered dataTable">
    <tbody>
    <% @excercises.each do |excercise| %>
      <%= render excercise %>
    <% end %>
    </tbody>
  </table>

</div>