<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Users</h1>
  <%= link_to "New User", new_user_path, {class: "btn btn-primary"}  %>
</div>

<table id="users" class="table table-bordered dataTable ">

  <tr>
    <th>
      First name
    </th>

    <th>
      Last name
    </th>

  </tr>


  <% @users.each do |user| %>
    <%= render user %>    
  <% end %>
</table>
