<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Access Rights</h1>
  <%= link_to "New Access Right", new_access_right_path, {class: "btn btn-primary"}  %>
</div>

<table id="access_rights" class="table table-bordered dataTable">
  <% @access_rights.each do |access_right| %>
    <%= render access_right %>
  <% end %>
</table>

