<p>Welcome <%= @access_right.access_to %>!</p>

<p>

    You have been granted access as an investor to <%= @access_right.entity.name %>
    Please <%= link_to "Login", new_user_session_url(email: @access_right.access_to) %> or 
    <%= link_to "Register", new_user_registration_url(email: @access_right.access_to) %> 

</p>
