  <%= render "/layouts/alerts" %>

  <%= render "/interests/show", interest: @interest %>


  <div>
    <% if Pundit.policy(current_user, @interest).update? %>
      <%= link_to "Edit" , edit_interest_path(@interest), {class: "btn btn-primary" } %> |
      <%= button_to "Delete" , @interest, method: :delete, class: "btn btn-danger" , form_class: "deleteButton", data: {action: "click->confirm#delete", turbo:false}  %>
    <% end %>
  </div>