<tr id="<%= dom_id document %>">
  <td>
      <%= link_to document.name, document %>
  </td>  
  <td>
      <%= l document.created_at %>
  </td>  
  <% if params[:show_doc_owner].present? %>
  <td>
      <%= link_to document.owner.name, document.owner %>
  </td>  
  <% end %>
</tr>
