<tr id="<%= dom_id document %>">
  <td>
      <%= link_to document.name, document %>
  </td>  
  <td>
      <%= document.created_at %>
  </td>  
  <td>
      <%= link_to document.owner.name, document.owner %>
  </td>  
</tr>
