
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Documents</h1>
  <%= link_to "New Document", new_document_path("document[entity_id]":current_user.entity_id), 
      {class: "btn btn-primary"} if current_user.entity_id == entity.id %>

</div>

<table id="documents" class="table table-bordered dataTable ">

  <tr>
    <th>
      Name
    </th>
    <th>
      Folder
    </th>
    <th>
      Tags
    </th>
    <th>
      Created On
    </th>
  
  </tr>

  <% documents.each do |document| %>
    <%= render document %>
  <% end %>
</table>

