<div data-controller="pdf">
   <div id="viewer_label" class="viewer_label">
      Loading PDF 
      <i class="fa-solid fa-sync fa-spin"></i>
   </div>
   <input id="viewer_content_type" , value="<%=@document.file.content_type%>" hidden="hidden"></input>
   <input id="viewer_link" , value="<%=@document.file.expiring_url()%>" hidden="hidden"></input>
   <input id="viewer_watermark" , value="Private Property of <%= current_user.entity.name %>" hidden="hidden"></input>
   <div id='viewer'></div>
</div>