<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Deal Activities</h1>
</div>

<table id="deal_activities" class="table table-bordered dataTable">
  <thead>
    <tr>
      <th>
        Sequence
      </th>
      <th>
        Activity
      </th>
      <th>
        Deal
      </th>
      <th>
        Deal Investor
      </th>
      <th>
        By Date
      </th>
      <th>
        Status
      </th>
      <th>
        Completed
      </th>
      <th>
        Days
      </th>

      <th>
      <th>
    </tr>
  </thead>
  <tbody id="deal_activities_tbody">
    <% deal_activities.each do |deal_activity| %>
      <%= render deal_activity %>
    <% end %>
  </tbody>
</table>

