<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <% if params[:template].present? %>
    <h1 class="h3 mb-0 text-gray-800">Activity Templates</h1>
    <%= link_to "New Activity Template", new_deal_activity_path(deal_id: params[:deal_id], deal_investor_id: params[:deal_investor_id]), {class: "btn btn-primary"}  if params[:deal_id] %>
  <% else %>
    <h1 class="h3 mb-0 text-gray-800">Deal Activities</h1>
  <% end %>
</div>

<table id="deal_activities" class="table table-bordered dataTable">
  <thead>
    <tr>
      <th>
        Sequence
      </th>
      <th>
        Activity
      </th>
      <th>
        Deal
      </th>
      <th>
        Deal Investor
      </th>
      <th>
        By Date
      </th>
      <th>
        Status
      </th>
      <th>
        Completed
      </th>
      <th>
        Days
      </th>

      <th>
      <th>
    </tr>
  </thead>
  <tbody id="deal_activities_tbody">
    <% deal_activities.each do |deal_activity| %>
      <%= render deal_activity %>
    <% end %>
  </tbody>
</table>

