<p>Welcome <%= @investor_access.email %>!</p>

<p>

    You have been granted access as an investor to <%= @investor_access.entity.name %>
    Please <%= link_to "Login", new_user_session_url(email: @investor_access.email) %> or 
    <%= link_to "Register", new_user_registration_url(email: @investor_access.email) %> to view their documents and investments

</p>
