<%= form_with(model: company) do |form| %>
  
  <%= render "form_fields", company: company, form: form %>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"} %>
  </div>
<% end %>
