<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Deals</h1>
  <%= link_to "New Deal", new_deal_path("deal[entity_id]": current_user.entity_id), {class: "btn btn-primary"}  %>
</div>

<%= render "deals/index", deals: @deals %>
<%= paginate @deals %>
