
<%= render "/layouts/alerts" %>

<%= render "/deals/show", deal: @deal %>

<div id="deal_investors" class="associated_entity">
  <%= render "/deal_investors/index", deal_investors: @deal.deal_investors %>
</div>

