
<tr id="<%= dom_id deal_message %>">
  <td>
      <%= deal_message.user.name %>
  </td>  
  <td>
      <%= deal_message.content %>
  </td>  
  <td>
    <%= link_to "Show", deal_message , {class: "btn btn-primary"}%>
  </td>
</tr>
