<div class="table-responsive">    
    <table id="deal_message_tasks" class="table table-bordered dataTable ">
        <thead>
            <tr>
                <th>From</th>
                <th>Task</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody id="tasks_body">
            <% deal_messages.each do |msg| %>          
                <%= render "deal_messages/deal_message", deal_message: msg%>
            <% end %>
        </tbody>
    </table>
</div>