

    <!-- Illustrations -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <span class="m-0 font-weight-bold text-primary">Tasks</span>    
            <% label = params[:show_all] == "true" ? "Hide Done" : "Show All" %>
            <% if deal_investor %>
                <span class="float-right">
                    <%= link_to label, deal_messages_path(deal_investor_id: deal_investor.id, deal_id: deal_investor.deal_id, show_all: params[:show_all] != "true"), class: "btn btn-sm btn-primary"%>    
                    <%= link_to "New Task", new_deal_message_path("deal_message[deal_investor_id]": deal_investor.id, 
                                "deal_message[is_task]": true, "deal_message[not_msg]": true), 
                                { data: { turbo_frame: 'new_deal_message' },
                                method: :get, class: "btn btn-sm btn-primary"} %>    
                </span>
            <% end %>
        </div>

        <div class="card-body">

            <%= turbo_frame_tag "new_deal_message" do %>
            <% end %>
            <% tasks = params[:show_all]=='true' ? deal_messages.tasks : deal_messages.tasks_not_done %>

            <div class="table-responsive" data-controller="datatable">    
                <table id="deal_message_tasks" class="table table-bordered dataTable jqDataTable">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Task</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tbody id="tasks_body">
                        <% tasks.each do |msg| %>          
                            <%= render "deal_messages/deal_message", deal_message: msg%>
                        <% end %>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
