<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Payments</h1>
  <%= link_to "New Payment", new_payment_path, {class: "btn btn-primary"}  %>
</div>

<table id="payments" class="table table-bordered dataTable">
  <tbody>
  <% @payments.each do |payment| %>
    <%= render payment %>
  <% end %>
  </tbody>
</table>

