<div class="associated_entity" data-controller="tabs">

  

  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link  active" data-bs-toggle="pill" data-toggle="tab" href="#holdings-tab">Holdings</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#offerings-tab">Offers</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#interests-tab">Interests</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#access-rights-tab">Access Rights</a>
  </nav>

  <div class="tab-content">
      <div id="access-rights-tab" class="tab-pane fade">
        <div id="access_rights" class="associated_entity">
          <% access_right = AccessRight.new(
              owner_id: secondary_sale.id, 
              access_type: "SecondarySale", 
              owner_type: "SecondarySale", 
              entity_id: secondary_sale.entity_id) %>
              
          <%= render "/access_rights/index", access_rights: AccessRight.for_secondary_sale(secondary_sale), access_right: access_right %>
        </div>
      </div>
      <div id="offerings-tab" class="tab-pane fade">
        <div id="offerings" class="associated_entity">
          <% offers = current_user.entity_id == secondary_sale.entity_id ? secondary_sale.offers : secondary_sale.offers.where(user_id: current_user.id) %>
          <%= render "/offers/index", offers: offers, secondary_sale: secondary_sale, show_entity:false, show_secondary_sale:false  %>
        </div>     
      </div>

      <div id="interests-tab" class="tab-pane fade">
        <div id="interests" class="associated_entity">
          <% interests = current_user.entity_id == secondary_sale.entity_id ? secondary_sale.interests : secondary_sale.interests.where(user_id: current_user.id) %>
          <%= render "/interests/index", interests: interests, secondary_sale: secondary_sale  %>
        </div>     
      </div>

      <div id="holdings-tab" class="tab-pane fade in show active">
        <div id="holdings" class="associated_entity">
          <% holdings = current_user.entity_id == secondary_sale.entity_id ? current_user.entity.holdings : current_user.holdings.where(entity_id: secondary_sale.entity_id) %>
          <%= render "/holdings/index", holdings: holdings, secondary_sale: secondary_sale  %>
        </div>     
      </div>
  </div>

</div>