<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Investors</h1>
  <%= link_to "New Investor", new_investor_path("investor[investee_entity_id]": current_user.entity_id), {class: "btn btn-primary"}  %>
</div>

<div class="table-responsive">

  <table id="investors" class="table table-bordered dataTable">
    <tr>
      <th>
        Investor
      </th>
      <th>
        Investee Entity
      </th>
      <th class="">
        Category
      </th>

      <th>
      </th>
    </tr>

    <% @investors.each do |investor| %>
      <%= render investor %>
    <% end %>
  </table>


  <%= paginate @investors %>

</div>