<tr id="<%= dom_id scenario %>">
  <td>
    <%= scenario.name %>
  </td>
  <td>
    <%= scenario.entity.name %>
  </td>
  <td>
    <%= link_to "Show" , scenario , {class: "btn btn-primary" }%>
  </td>
</tr>