<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Scenarios</h1>
  <%= link_to "New Scenario", new_scenario_path, {class: "btn btn-primary"}  %>
</div>

<div class="table-responsive" data-controller="datatable">

  <table id="scenarios" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          Name
        </th>
          <th>
          Entity
        </th>
      
        <th>
        </th>
      </tr>
    </thead>
    
    <tbody>
    <% @scenarios.each do |scenario| %>
      <%= render scenario %>
    <% end %>
    </tbody>
  </table>

</div>