<div class="alert alert-danger reset_password_prompt">
    Please accept the terms and conditions of the site at earliest. 

    <a class="btn-sm btn-primary" href="#" data-toggle="modal" data-target="#termsModal">
        Show Terms
    </a>

</div>