        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    AltCon
                </div>
                <div class="sidebar-brand-text mx-3">IRM</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/entities/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <% if current_user && current_user.has_cached_role?(:holding) %>
                <li class="nav-item">
                        
                    <a class="nav-link" href="/holdings">
                        <i class="fas fa-fw fa-rupee-sign"></i>
                        <span>Holdings</span>
                    </a>

                </li>
            
            <% elsif current_user && current_user.has_cached_role?(:secondary_buyer) %>
                <li class="nav-item">
                     
                    <a class="nav-link" href="/secondary_sales">
                        <i class="fas fa-fw fa-briefcase"></i>
                        <span>Secondary Sales</span>
                    </a>

                </li>

                
            <% end %>

            <% if current_user && current_user.has_cached_role?(:investor) %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    
                    <a class="nav-link" href="/entities/investor_entities">
                        <i class="fas fa-fw fa-rupee-sign"></i>
                        <span>Investments</span>
                    </a>

                    <a class="nav-link" href="/deal_investors">
                        <i class="fas fa-fw fa-briefcase"></i>
                        <span>Deals</span>
                    </a>
                    
                    <a class="nav-link" href="/secondary_sales">
                        <i class="fas fa-fw fa-briefcase"></i>
                        <span>Secondary Sales</span>
                    </a>
    
                </li>

            <% end %>

            <% if current_user && current_user.has_cached_role?(:startup) %>
            <!-- Divider -->
            <hr class="sidebar-divider">

           
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                
                <a class="nav-link" href="/investments">
                    <i class="fas fa-fw fa-rupee-sign"></i>
                    <span>Cap Table</span>
                </a>

                <a class="nav-link" href="/investors">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Investors</span>
                </a>

                <a class="nav-link collapsed" href="/documents">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Documents</span>
                </a>

                <a class="nav-link collapsed" href="/notes">
                    <i class="fas fa-fw fa-sticky-note"></i>
                    <span>Notes</span>
                </a>

            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                
                <a class="nav-link" href="/deals">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>Deals</span>
                </a>

                <a class="nav-link" href="/deal_investors">
                    <i class="fas fa-signal"></i>                    
                    <span>Potential Investments</span>
                </a>

            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">

                <a class="nav-link" href="/nudges">
                    <i class="fas fa-fw fa-envelope"></i>
                    <span>Nudges</span>
                </a>


                <a class="nav-link" href="/holdings">
                    <i class="fas fa-fw fa-rupee-sign"></i>
                    <span>Holdings</span>
                </a>

                <a class="nav-link" href="/secondary_sales">
                    <i class="fas fa-fw fa-bolt"></i>
                    <span>Secondary Sales</span>
                </a>

                <a class="nav-link" href="/access_rights">
                    <i class="fas fa-fw fa-key"></i>
                    <span>Access Rights</span>
                </a>

            </li>

            <% end %>


            <li class="nav-item">
                
                <a class="nav-link collapsed" href="/users">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Users</span>
                </a>
               
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
